<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donut.prokindonutsweb.home.mapper.FindIdMapper">

    <!--id로 회원 찾기-->
    <select id="searchId" resultType="MemberAccountVO">
        select * from memberaccount  where id = #{id}
    </select>

    <!--email로 회원 찾기-->
    <select id="searchEmail" resultType="MemberAccountVO">
        select * from memberaccount  where email = #{email}
    </select>


</mapper>