<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.donut.prokindonutsweb.franchise.dto"/>
        <package name="com.donut.prokindonutsweb.franchise.vo"/>
        <package name="com.donut.prokindonutsweb.warehouse.dto"/>
        <package name="com.donut.prokindonutsweb.warehouse.vo"/>
        <package name="com.donut.prokindonutsweb.product.dto"/>
        <package name="com.donut.prokindonutsweb.product.vo"/>
        <package name="com.donut.prokindonutsweb.inventory.dto"/>
        <package name="com.donut.prokindonutsweb.inventory.vo"/>
        <package name="com.donut.prokindonutsweb.home.vo"/>
        <package name="com.donut.prokindonutsweb.home.dto"/>
        <package name="com.donut.prokindonutsweb.member.dto"/>
        <package name="com.donut.prokindonutsweb.member.vo"/>
        <package name="com.donut.prokindonutsweb.inbound.dto"/>
        <package name="com.donut.prokindonutsweb.inbound.vo"/>
        <package name="com.donut.prokindonutsweb.dashboard.dto"/>
        <package name="com.donut.prokindonutsweb.outbound.dto"/>
        <package name="com.donut.prokindonutsweb.scheduler.dto"/>
        <package name="com.donut.prokindonutsweb.common.dto"/>
    </typeAliases>
</configuration>