<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.donut.prokindonutsweb.common.mapper.UserInfoMapper">

    <!--    User 정보 -> 창고코드 반환 -->
    <select id="getWarehouseCode" resultType="String">
        select warehouseCode From Warehouse where memberCode = #{memberCode}
    </select>
</mapper>