<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        <typeAlias alias="MemberRequestVO" type="com.donut.prokindonutsweb.member.vo.MemberRequestVO"/>-->
<!--        <typeAlias alias="MemberAccountVO" type="com.donut.prokindonutsweb.member.vo.MemberAccountVO"/>-->
<!--        <typeAlias alias="MemberAccountDTO" type="com.donut.prokindonutsweb.member.dto.MemberAccountDTO"/>-->
<!--        <typeAlias alias="MemberRequestDTO" type="com.donut.prokindonutsweb.member.dto.MemberRequestDTO"/>-->
<!--        <typeAlias alias="WarehouseDTO" type="com.donut.prokindonutsweb.warehouse.dto.WarehouseDTO"/>-->
<!--        <typeAlias alias="WarehouseUpdateDTO" type="com.donut.prokindonutsweb.warehouse.dto.WarehouseUpdateDTO"/>-->
<!--        <typeAlias alias="WarehouseDeleteDTO" type="com.donut.prokindonutsweb.warehouse.dto.WarehouseDeleteDTO"/>-->
<!--        <typeAlias alias="WarehouseVO" type="com.donut.prokindonutsweb.warehouse.vo.WarehouseVO"/>-->
<!--        <typeAlias alias="SectionVO" type="com.donut.prokindonutsweb.warehouse.vo.SectionVO"/>-->
        <package name="com.donut.prokindonutsweb.franchise.dto"/>
        <package name="com.donut.prokindonutsweb.franchise.vo"/>
        <package name="com.donut.prokindonutsweb.warehouse.dto"/>
        <package name="com.donut.prokindonutsweb.warehouse.vo"/>
        <package name="com.donut.prokindonutsweb.product.dto"/>
        <package name="com.donut.prokindonutsweb.product.vo"/>
        <package name="com.donut.prokindonutsweb.inventory.dto"/>
        <package name="com.donut.prokindonutsweb.inventory.vo"/>

        <package name="com.donut.prokindonutsweb.member.dto"/>
        <package name="com.donut.prokindonutsweb.member.vo"/>
        <package name="com.donut.prokindonutsweb.login.dto"/>
        <package name="com.donut.prokindonutsweb.login.vo"/>
        <package name="com.donut.prokindonutsweb.inventory.dto"/>
        <package name="com.donut.prokindonutsweb.inventory.vo"/>
        <package name="com.donut.prokindonutsweb.inbound.dto"/>
        <package name="com.donut.prokindonutsweb.inbound.vo"/>
            <package name="com.donut.prokindonutsweb.dashboard.dto"/>
        <package name="com.donut.prokindonutsweb.dashboard.vo"/>
    </typeAliases>

</configuration>