<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donut.prokindonutsweb.dashboard.mapper.QhDashboardMapper">

    <!--미승인 회원가입 -->
    <select id="countNewRequest" resultType="int">
        select count(*) from MemberRequest where request = '승인대기'
    </select>

    <!--미승인 입고요청-->
    <select id="countNewInbound" resultType="int">
        select count(*) from Inbound where inboundStatus = '입고요청'
    </select>

    <!--총 가맹점 수 -->
    <select id="totalFranchise" resultType="int">
        select count(*) from Franchise
    </select>

    <!--총 창고 수 -->
    <select id="totalWarehouse" resultType="int">
        select count(*) from Warehouse
    </select>

    <!--최근 3개월간 상품별 발주요청량 -재고량 순위 상위 5개 -->
    <select id="getOrderRequestVsInventory" resultType="OrderInventoryDTO">
        SELECT
            productName,
            IFNULL(totalOrderRequest, 0) AS totalOrderRequest,
            IFNULL(totalInventory, 0) AS totalInventory
        FROM OrderInventory
        ORDER BY (totalOrderRequest/totalInventory) DESC
            LIMIT 5
    </select>

    <!--입고완료상태의 입고건-->
<select id="countApprovedInboundStatus" resultType="int">
    select  count(*)
    from Inbound
    where inboundStatus = '입고완료'
      and warehouseCode =#{warehouseCode}
</select>

    <!--총 입고량-->
    <select id="countTotalInbound" resultType="int">
    select  count(*)
    from Inbound
    where warehouseCode =#{warehouseCode}
    </select>

    <!--출고승인상태의 출고건-->
    <select id="countApprovedOrderStatus" resultType="int">
    select count(*)
    from Outbound o
    join Inventory i on o.inventoryCode = i.inventoryCode
    where outboundStatus = '출고완료'
      and i.warehouseCode =#{warehouseCode}
    </select>

    <!--총 출고량-->
    <select id="countTotalOrder" resultType="int">

    select count(*)
    from Outbound o
             join Inventory i on o.inventoryCode = i.inventoryCode
    where i.warehouseCode =#{warehouseCode}
    </select>

    <!--창고이름으로 창고 코드 조회-->
    <select id="getWarehouseCode" resultType="String">
        select warehouseCode
        from Warehouse
        where warehouseName = #{warehouseName}
    </select>

</mapper>